

<!DOCTYPE html>
<!--www.codingflicks.com--> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Food Order</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
	<form method="post" action="/choos"></form>
	<div class="form-box">
		<div class="header-text">
			Search Food/Restaurent
		
		</div><input placeholder="Food/restaurent" type="text"> 
		<input placeholder="Item Name/Place" type="password">
		 

		 </label><span> <a href="#">Terms & Conditions</a></span> <button>logout</button>
	</div>
	</form>
</body>
</html>
